{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron text-center">
                <h1>InstaDummy</h1>
                <h2>Home page</h2>
                <a href="/logout"><button class="btn btn-secondary">Log Out</button></a>
                <a href="{% url 'my-profile' %}"><button class="btn btn-secondary">My profile</button></a>
                <br>
                <form role="search" action="{% url 'search-profile' %}">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search User" name="uname">                        
                    </div>
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <div class="row">
                    {% if images %}

                    {% for image in images %}
                    <div class="col-xs-4">
                        <div class="card">
                            <img class="card-img-top" src="{{image.image_upload.url}}" alt="{{image.image_name}}">
                            <div class="card-body">
                                <h5>Posted by: {{image.profile.account_holder.username}}</h5>
                                <h5>Likes: {{image.likes}}</h5>
                                <h5 class="card-title">{{image.image_name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{image.posted}}</h6>
                                <p class="card-text">{{image.caption}}</p>                                                                                 
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% else %}
                    <div class="col-xs-12">
                        <h3>Follow users and upload photos to have posts on your timeline.</h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
