{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="text-center">My Profile</h1>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <img src="{{profile.profile_photo.url}}" alt="{{profile.account_holder.username}}">
                    </div>
                    <div class="col-xs-4">
                        <h2>{{profile.account_holder.username}}</h2>
                        <h4>Followers: {{profile.followers}} | Following: {{profile.following}}</h4>
                        <h4 class="text-muted">Joined on {{profile.created}}</h4>
                        <p>{{profile.bio}}</p>
                    </div>
                    <div class="col-xs-4"></div>
                </div>              
            </div>
        </div>
    </div>
</div>


{% endblock %}